.right {
    background-color: $backgroundProfile;
    color: $neonPink;
    h1{
        padding: 2rem 0;
        text-transform: uppercase;
        position: relative;
    }
    h1::after{
        content: '';
        position: absolute;
        width: 60%;
        height: .3rem;
        background-color: $neonPink;
        right: 0;
        top: 46%;
    }
    @media (max-width: 1000px) {
        h1::after {
            width: 55%;
        }
    }
    @media (max-width: 800px) {
        h1::after {
            width: 40%;
        }
    }
    @media (max-width: 500px) {
        h1::after {
            width: 20%;
        }
    }
    @media (max-width: 660px) {
        h1::after {
            width: 30%;
        }
    }
}
.about-me-text {
    p{
        line-height: 1.5;
        padding: 2rem auto;
        font-size: 1rem;
        font-family: Michroma;
    }
}
