.left-tl-content {
    h5{
    line-height: 1.5;
    margin: 1rem 0;
    font-size: 1rem;
    font-family: Michroma;
    text-transform: uppercase;
    }
}

.right-tl-content {
    h5{
        margin: 1rem 0;
        line-height: 1.5;
        padding: 2rem auto;
        font-size: 1rem;
        font-family: Michroma;
        text-transform: uppercase;
    }
    p{
        border-left: 1px solid $neonPink;
        padding-left: 1rem;
    }
}
