.skills {
    text-align: center;
    color: $neonBlue;
    padding-bottom: 3rem;
    h2 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: map-get($font-weights , 'bolt' );
        padding-bottom: 0.4rem;
    }
    i{
        font-size: 1.5rem;
        display: block;
        padding: 1.8rem;
    }
}

